[submodule "Project3_SuperDuo"]
	path = Project3_SuperDuo
	url = https://github.com/devmil/android_nanodegree_super_duo.git
	branch = master
[submodule "Project4_BuildItBigger"]
	path = Project4_BuildItBigger
	url = https://github.com/devmil/android_nanodegree_build_it_bigger.git
[submodule "Project5_MakeYourAppMaterial"]
	path = Project5_MakeYourAppMaterial
	url = https://devmil@github.com/devmil/android_nanodegree_make_your_app_material.git
[submodule "Project6_GoUbiquitous"]
	path = Project6_GoUbiquitous
	url = https://github.com/devmil/android_nanodegree_go_ubiquitous.git
